
body {
  background-color:#050a37;
  margin-top: -1px;
  margin-left: -10px;
  margin-right:-10px;
  margin-bottom:-10px;
  overflow: hidden;

}



@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

@font-face {
  font-family: 'Larsseit';
  src: url('../font/Larsseit-Bold.woff') format('woff'),
}

.top{
  position:relative;
  width:100%;
  height:15vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hero{
  position:relative;
  width:100%;
  height:60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom{
  position:relative;
  width:100%;
  height:25vh;
  display: flex;
  justify-content: center;
  align-items: top;
}


#logo {
  position:relative;
  width:200px;
  height:50px;
  margin-left: 50px;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:top left;
}

#badge {
  position:absolute;
  z-index: 8;
  margin-top: 100px;
  width:200px;
  height:200px;
  right:100px;
  background-image: url('../images/kick0.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:top left;
  transform: rotate(10deg);
}

#wrapper{
  width:100%;
  overflow: hidden
}

#pattern {
  position:absolute;
  z-index: -4;
  width:5076px;
  height:100vh;
  background: url("../images/sliding.png") repeat-x;
  animation: slide 60s linear infinite;
  overflow: hidden;
}

#bwc {
  position:relative;
  width:70%;
  height:50%;
  background-image: url('../images/bwc.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#mailchimp{
  display:flex;
  justify-content: center;
  align-items: top;
}

#mailchimp input[type="email"]{
  width:auto;
  color: #ec186a;
  padding: 0.5rem 1.2rem;
  border: 2px solid #fdce07;
  border-radius: 3px;
  background: transparent;
  font-size: 1.2rem;
  font-family: Larsseit, sans-serif;
  transition: all 0.1s ease-in-out;
  -webkit-appearance: none;
}

#mailchimp input[type="submit"]{
  color: #050a3;
  font-size: 1.2rem;
  font-family: Larsseit, sans-serif;
  padding: 0.5rem 1.2rem;
  border: 2px solid #fdce07;
  border-radius: 3px;
  background: #fdce07;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.1s ease-in-out;
  -webkit-appearance: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fdce07;
}


#mailchimp input[type="email"]:hover,
#mailchimp input[type="email"]:focus {
    border: 2px solid #ec186a;
    -webkit-outline: none;
}


#mailchimp input[type="submit"]:hover,
#mailchimp input[type="submit"]:focus {
    background: #ec186a;
    border: 2px solid #ec186a;
    margin-left: 5px;
    -webkit-outline: none;
}

#mailchimp input[type="submit"]:active {
transform: scale(1.05);}



@media all and (min-width: 568px) and (max-width: 1304px){

    html,body{overflow: hidden;}
    #badge {width:150px;height:150px;margin-top:60px;right:60px;}

}

@media all and (min-width: 360px) and (max-width: 568px){

    html,body{overflow: hidden;}
    #badge {width:120px;height:120px;margin-top:10vh;right:30px;}
    #logo {width:150px;height:50px;}
    #bwc {width:90%;height:80%;background-image: url('../images/bwc2.png');}

    #pattern {
      width:376px;
      height:100vh;
      background: url("../images/sliding2.png") repeat-x;
      animation: slide 60s linear infinite;
      overflow: hidden;
    }


    form { margin-top: -100px; display: flex; justify-content: center;
    align-items: center; flex-wrap: wrap; flex-direction:column; }

    #mailchimp input[type="submit"]{
      margin-top: 10px;
      margin-left: 0px;
      width:100%;
      font-size: 1rem;
      -webkit-appearance: none;
    }

    #mailchimp input[type="email"]{
      font-size: 1rem;
      -webkit-appearance: none;
    }

    #mailchimp input[type="submit"]:hover,
    #mailchimp input[type="submit"]:focus {
        margin-left: 0px;
        -webkit-appearance: none;
    }


}
